<loading></loading>
<ng-container>
    <div class="listContainer">
        <div>
            <mat-card>
                <mat-card-header>
                    Data centers
                </mat-card-header>
                <mat-card-content>
                    <mat-list>
                        @for(dataCenter of dataCenters$ | async; track dataCenter.id) {
                            <mat-list-item>
                                <mat-icon matListItemIcon>folder</mat-icon>
                                <div matListItemTitle
                                     class="listItem">
                                    <a (click)="onDataCenterClick(dataCenter.id!)">
                                        {{ dataCenter.name }}
                                    </a>
                                </div>
                                <div matListItemLine
                                    class="description">
                                    {{ dataCenter.city }} (Country: {{ dataCenter.country }})
                                </div>
                            </mat-list-item>
                        }
                        @empty {
                            <p>No data</p>
                        }
                    </mat-list> 
                </mat-card-content>
            </mat-card>
        </div>
        <div>
            <mat-card>
                <mat-card-header>Services</mat-card-header>
                <mat-card-content>
                    <mat-list>
                        @for(service of services$ | async; track service.id) {
                            <mat-list-item>
                                <mat-icon matListItemIcon>folder</mat-icon>
                                <div matListItemTitle
                                     class="listItem">
                                    <a (click)="onServiceClick(service.id)">
                                        {{ service.name }}
                                    </a>
                                </div>
                                <div matListItemLine>
                                    mode: {{ service.serviceMode }}, [{{ service.proto}}://{{ service.hostAddress }}:{{ service.port}}]
                                </div>
                            </mat-list-item>
                        }
                        @empty {
                            <p>No data</p>
                        }
                    </mat-list>
                </mat-card-content>
            </mat-card>
        </div>
        <div>
            <mat-card>
                <mat-card-header>Zones</mat-card-header>
                <mat-card-content>
                    <div>
                        <mat-list>
                            @for(zoneItem of zones$ | async; track zoneItem.id) {
                                <mat-list-item>
                                    <mat-icon matListItemIcon>map</mat-icon>
                                    <div matListItemTitle
                                        class="listItem">
                                        <a (click)="onZoneDetailsClick(zoneItem.id)">
                                            {{ zoneItem.name }}
                                        </a>
                                    </div>
                                </mat-list-item>
                            }
                            @empty {
                                <p>No data</p>
                            }
                        </mat-list>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</ng-container>

<div class="resultContainer">
    <ng-container *ngIf="zoneDetails$ | async as zone">
        <ul>
            <li><span>Name</span>{{ zone.name }}</li>
            <li><span>Serial</span>{{ zone.serial }}</li>
            <li><span>Last check</span>{{ zone.last_check | date:'yyyy-MM-dd HH:mm:ss' }}</li>
            <li><span>Kind</span>{{ zone.kind }}</li>
            <li><span>DNS SEC</span>{{ zone.dnssec}}</li>
            <li><span>Records no</span>{{ zone.rrsets.length }}</li>
            <li><span>Api rectify</span>{{ zone.api_rectify}}</li>
            <li><span>Url</span>{{ zone.url }}</li>
        </ul>
        <div class="details">
            <ul>
            @for(item of zone.rrsets; track (item.type + item.name) ) {
                <li><span>{{ item.type }}</span><br/>
                    Name: {{ item.name }}<br/>
                    values: 
                    <ul>
                    @for(recordValue of item.records; track recordValue.content ) {
                        <li>{{ recordValue.content }}</li>
                    }
                    </ul>
                </li>
            }
            </ul>
        </div>
    </ng-container>
</div>