$color-orange: #FF3E1B;
$color-black: #2C292E;
$color-gray: #f1f1f1;
$color-gray-light: #EFEFEF;
$color-white: rgb(255, 228, 196);
$color-blue: #2E22E4;
$color-blue-navy: #004a9f;

$border-radius: 0;
$border-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075), 0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075), 0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);