
<mat-toolbar>
   <button mat-icon-button aria-label="Menu on/off" (click)="openClose()"><mat-icon>menu</mat-icon></button><span>Power DNS Manager v0.8</span>
</mat-toolbar>

<mat-drawer-container autosize>
  <mat-drawer class="mat-elevation-z8" mode="side" [opened]="isOpen">
    <div class="drawer-container">
      <button mat-raised-button type="button" aria-label="Go to dashboard" routerLink="/" ><mat-icon>dashboard</mat-icon>Dashboard</button>
      <mat-divider></mat-divider>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-icon>share</mat-icon>
          <span>Zones</span>
        </mat-expansion-panel-header>
        <button mat-raised-button type="button" aria-label="Go to dns zones" routerLink="zones/new"><mat-icon>share</mat-icon>New zone</button>
        <button mat-raised-button type="button" aria-label="Go to dns zones" routerLink="zones"><mat-icon>share</mat-icon>Zones</button>
      </mat-expansion-panel>
      <button mat-raised-button type="button" aria-label="Go to server statistics" routerLink="state"><mat-icon>visibility</mat-icon>State</button>
      <button mat-raised-button type="button" aria-label="Go to servers" routerLink="servers"><mat-icon>computer</mat-icon>Servers</button>
      <button mat-raised-button type="button" aria-label="Go to data centers" routerLink="datacenters"><mat-icon>map</mat-icon>Data centers</button>
      <mat-divider></mat-divider>      
      <button mat-raised-button type="button" aria-label="Go to user manager" routerLink="/"><mat-icon>people</mat-icon>Users</button>
    </div>
    <div class="author">
      2024 - Adam Debowski
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div class="content">
      <div>
        <loading [detectRoutingOngoing]="true"></loading>
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>