:host {

    button {
        background-color: transparent !important;
        margin-right: 1rem;
    }

    mat-toolbar {
        background-color: #004a9f;
        color: black;

        span {
            color: silver;
        }
    }

    mat-drawer {
        margin: 1.2rem;
        width: 15rem;
        border-right: none;
        background-color: black;
        color: bisque;
        border-radius: 1rem;
        padding: 1rem;
        text-align: center;
        box-shadow:
        0 1px 1px hsl(0deg 0% 0% / 0.075),
        0 2px 2px hsl(0deg 0% 0% / 0.075),
        0 4px 4px hsl(0deg 0% 0% / 0.075),
        0 8px 8px hsl(0deg 0% 0% / 0.075),
        0 16px 16px hsl(0deg 0% 0% / 0.075);        

        .drawer-container {
            height: calc(100% - 26px);
            justify-content: left;

            mat-divider {
                margin: .5rem 0;                
            }

            button {
                width: 90%;
                justify-content: start;
                color: bisque;

                &:hover {
                    color: red;
                }
            }
        }

        .author {            
            color: silver;
            font-size: .6rem;
        }
    }

    mat-drawer-content {
        background-color: white;
        color: #2E22E4;

        .content {
            height: calc(100vh - 98px);
            margin: 1rem 2rem 1rem 2rem;
            padding: 1rem;
            display: flex;
            justify-content: center;
            font-size: 2rem;
            color: #2E22E4;
            border-radius: 1rem;
            background-color: #EFEFEF;
            border: solid .5px silver;
            box-shadow:
            0 1px 1px hsl(0deg 0% 0% / 0.075),
            0 2px 2px hsl(0deg 0% 0% / 0.075),
            0 4px 4px hsl(0deg 0% 0% / 0.075),
            0 8px 8px hsl(0deg 0% 0% / 0.075),
            0 16px 16px hsl(0deg 0% 0% / 0.075);            
        }
    }

    mat-drawer-container {
        height: calc(100vh - 65px);
    }

    .mat-drawer-container {
        background-color: transparent;
    }
}