
<mat-toolbar>
   <button mat-icon-button aria-label="Menu on/off" (click)="openClose()"><mat-icon>menu</mat-icon></button><span>Power DNS Manager v0.8</span>
</mat-toolbar>

<mat-drawer-container autosize>
  <mat-drawer class="mat-elevation-z8" mode="side" [opened]="isOpen">
    <div class="drawer-container">
      <button mat-raised-button routerLink="/" ><mat-icon>dashboard</mat-icon>Dashboard</button>
      <mat-divider></mat-divider>
      <button mat-raised-button routerLink="zones"><mat-icon>share</mat-icon>Zones</button>      
      <button mat-raised-button routerLink="state"><mat-icon>visibility</mat-icon>State</button>
      <button mat-raised-button routerLink="servers"><mat-icon>computer</mat-icon>Servers</button>
      <button mat-raised-button routerLink="datacenters"><mat-icon>map</mat-icon>Data centers</button>
      <button mat-raised-button routerLink="templates"><mat-icon>fingerprint</mat-icon>Templates</button>
      <mat-divider></mat-divider>      
      <button mat-raised-button routerLink="/"><mat-icon>people</mat-icon>Users</button>
    </div>    
    <div class="author">
      2024 - Adam Debowski
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div class="content">
      <div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>