@import '/src/styles/utils/variables';

:host {
    align-items: start;
    width: 50%;

    mat-card-content {
        width: 100%;

        mat-form-filed {
            width: 100%;
        }

        mat-form-field {
            width: 100%;
        }
    }
}